body{
    margin: 0;
    font-family: "Libre Baskerville", Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #23463F;
    height: 100%;
}

/* NAV */

nav {
    background-color: #23463F;
    overflow: hidden;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

nav li{
    display: inline-block;
}

nav a{
    color: #C5AF9F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #C5AF9F;
    color: #23463F;
    transition: 0.3s ease-in;
}

.topnav a.active {
    background-color: #23463F;
    color: #C5AF9F;
}

.logo{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    display: block;
}

/* MENU-INDEX */

.main-container {
    background-color: #23463F;
    display: block;
    margin: 45px auto;
    max-width: 700px;   
    border-radius: 5px;
    text-align: center;
}

h2 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 3rem;
    color: #C5AF9F;
}

h3 {
    font-size: 1.5rem;
    color: #C5AF9F;
}

.menu-option {
    font-weight: bold;
    text-align: start;
    color: #C5AF9F;
    margin-top: 1rem;
}

.menu-description {
    font-weight: lighter;
    font-style: italic;
    list-style: none;
}

p {
    color: #C5AF9F;
}

/* NOSOTROS */

.maps-container {
    display: flex
}

.maps-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.maps-location {
    margin-top: 50px;
}

.maps {
    width: 12rem;
    height: 12rem;
}

/* RESEÑAS */

.reviews-container h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.reviews-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;
}

.card {
    padding: 2em;
    border: 1px solid #C5AF9F;
    border-radius: 10px;
    background-color: #23463F;
    text-align: center;
    box-shadow: 0 30px 10px -20px #0000002a;
}

.card img {
    width: 100px;
}

/* CONTACTO */

.contact-container {
    background-color: #23463F;
    display: flex;
    width: 100%;
    height: 73vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    background: #23463F;
    display: flex;
    flex-direction: column;
    padding: 0vw 4vw 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}


form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 12px;
    outline: none;
    background: #C5AF9F;
    font-size: 15px;
    width: 100%;
}

form .input-submit {
    padding: 15px;
    background: #C5AF9F;
    color: #23463F;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}


/* REGISTER */

.register-form-control {
    margin-bottom: 15px;
    padding-bottom: 20px;
    position: relative;
    text-align: start;
}

.register-form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.register-form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 96%;
    padding: 10px;
}

.register-form-control i {
    position: absolute;
    visibility: hidden;
    top: 40px;
    right: 10px;
}

.register-form-control small {
    visibility: hidden;
    position: absolute;
}

.register-form button {
    background-color: #252422;
    border: 2px solid #252422;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    transition: 150ms ease;
}

.register-form button:hover {
    background-color: #000000;
}

.register-form button:active {
    background-color: #000000;
    transform: translateY(4px);
}

.register-form-control.success input {
    border-color: #2ecc71;
}

.register-form-control.error input {
    border-color: #e74c3c;
}

.register-form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.register-form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.register-form-control.error small {
    color: #e74c3c;
    visibility: visible;
}

/* FOOTER */

footer {
    position: relative;
    width: 100%;
    background-color: #23463F;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.2em;
}

.footer-rights {
    margin: 0;
}

.footer-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
    padding: 0;
}

.footer-icon-element {
    list-style: none;
}

.icon {
    color: #C5AF9F;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: scale(1.5);
}

.footer-menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    padding: 0;
}

.footer-element {
    list-style: none;
}

.footer-icon {
    color: #C5AF9F;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.3s;
}

.footer-icon:hover {
    opacity: 1;
}

.footer-rights {
    color: #C5AF9F;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12px;
}

@media (max-width: 600px) {

    /* MENU-INDEX */
    .main-container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        width: 90vw;
    }

    h2 {
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 3rem;
        color: #C5AF9F;
    }

    h3 {
        font-size: 1.5rem;
        color: #C5AF9F;
    }

    .menu-option {
        font-weight: bold;
        text-align: start;
        color: #C5AF9F;
        margin-top: 1rem;
    }

    .menu-description {
        font-weight: lighter;
        font-style: italic;
        list-style: none;
    }

    p {
        color: #C5AF9F;
    }

    /* NOSOTROS */

    .maps-container {
        flex-direction: column ;
    }

    .main-container{
        width: 65vw;
    }

    .maps {
        width: 65vw;
    }


    /* RESEÑAS */

    .reviews-container h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
}

    .reviews-grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
        margin-left: auto;
        margin-right: auto;
    }


    /* CONTACTO */

    .contact-container {
        height: 100vh;
    }
        
    form input, form textarea {
        font-size: 15px;
        width: 65vw;
    }


    
  }